VITE_API_BASE_URL = http://localhost:3000/api

PUBLIC_SUPABASE_URL=https://xjvqfiusrhcmxbyclugj.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqdnFmaXVzcmhjbXhieWNsdWdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzNjM0MTcsImV4cCI6MjA3NzkzOTQxN30.0J_9XDiyhnrX_o9BiIrk8FScp0m-4ijraD-GLuwnKXE

PUBLIC_GOOGLE_CLIENT_ID=329265864495-514dpjt7jeqo863aiehdedf0fdb5e8ea.apps.googleusercontent.com
PUBLIC_GOOGLE_REDIRECT_URI=https://xjvqfiusrhcmxbyclugj.supabase.co/auth/v1/callback